@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities {
    /* Estilos generales del scrollbar */
    .scrollbar-custom::-webkit-scrollbar {
      width: 4px;
      height: 2px;
    }
  
    /* Fondo del scrollbar */
    .scrollbar-custom::-webkit-scrollbar-track {
        background-color: transparent;
      border-radius: 8px;
      
    }
  
    /* Barra deslizante */
    .scrollbar-custom::-webkit-scrollbar-thumb {
      background: var(--primary_essentials);
      border-radius: 8px;
      cursor: pointer;
    }
  
    /* Barra al pasar el mouse */
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

:root{
    /* UNIVERSAL */
    --mono_blanco:#F5EFFF;
    --mono_negro:#060809;
    --bg_empty:#1F1D2B;

    /* SEMAFORO */
    --verde:#1BCC75;
    --verde_opacity:#1bcc763f;
    --amarillo:#FFA823;
    --amarillo_opacity:#ffa7238c;
    --rojo:#FF3131;
    --rojo_opacity:#ff31312d;

    /* SECUNDARIO */
    --secundary:#1A2130;
    --secundary_opacity:rgba(26, 33, 48, 0.479);
    --secundary_light:#A5B8D4;

    /* MACHINE APP */
    --primary_machine:#57CC99;
    --secundary_machine:#C7F9CC;
    --complement_machine:#80ED99;

    /* GURU APP */
    --primary_guru:#BB9457;
    --secundary_guru:#FFE6A7;
    --complement_guru:#99582A;

    /* SHOPPER APP */
    --primary_shopper:#3D4AEE;
    --secundary_shopper:#87A2FF;
    --complement_shopper:#8E9AAF;

    /* ESSENTIALS APP */
    --primary_essentials:#FF4D6D;
    --secundary_essentials:#FFB3C1;
    --complement_essentials:#FF758F;

    /* SMART APP */
    --primary_smart:#AF68E4;
    --secundary_smart:#FEEAFA;
    --complement_smart:#EFD3D7;
}



* {
  font-family: "Outfit", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all ease-in-out .2s;
}

body{
  background: var(--mono_negro);
  color:var(--mono_blanco);
}

/* Animación para agregar (fade in) */
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Animación para eliminar (fade out) */
.animate-fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



.fade-in {
  animation: fadeIn 0.2s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.2s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-5px); }
}

.hidden {
  display: none;
  text-align: center;
  font-weight: bold;
  color: gray;
  padding: 10px;
}


.number {
    font-family: "Lexend", serif;
  }
  

.shadow-essentials{
    box-shadow: 0px 8px 28px #ff4d6d;
}

.shadow-verde{
  box-shadow: 0px 8px 20px var(--verde);
}
.shadow-amarillo{
  box-shadow: 0px 8px 20px var(--amarillo);
}
.shadow-rojo{
  box-shadow: 0px 8px 20px var(-rojo);
}

.shadowM{
    box-shadow: 0px 2px 16px var(--secundary_light);
}

.btn-essentials{
    box-shadow: 0px 8px 28px var(--primary_essentials);
    background: var(--primary_essentials);
    border-radius: 8px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-verde{
  box-shadow: 0px 8px 28px var(--verde);
  background: var(--verde);
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-essentials-secundary{
  background: var(--primary_essentials);
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-essentials-secundary:hover{
  background-color: var(--secundary_essentials);
  color: var(--primary_essentials);
  font-weight: 600;
  scale: .9;
}
.btn-essentials:hover{
    background-color: var(--secundary_essentials);
    color: var(--primary_essentials);
    font-weight: 600;
    scale: .9;
}

.material-symbols-rounded{
    background: transparent;
}

.btn-link{
    background: var(--primary_essentials);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.btn-link-disable{
    background-color: var(--secundary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.btn-link-disable:hover{
    background-color: var(--primary_essentials);
    cursor: pointer;
}


.checkbox-wrapper-16 *,
.checkbox-wrapper-16 *:after,
.checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: var(--primary_essentials);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--primary_essentials);
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--primary_essentials);
  border-color: prima--primary_essentials;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: prima--primary_essentials;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: prima--primary_essentials;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 2px var(--rojo_secundario);
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px 7px;
  font-size: 14px;
  min-height: 40px;
  border-radius: 0.5rem;
  border: 1px solid #b5bfd9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid var(--rojo_secundario);
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: var(--primary_essentials);
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: var(--primary_essentials);
}

.checkbox-wrapper-16 .checkbox-icon svg {
  width: 2rem;
  height: 2rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: var(--mono_blanco);
  transition: 0.375s ease;
  text-align: center;
}

.input{
  display: flex;
  border: 2px solid var(--secundary_light);
  border-radius: 8px;
  color: var(--secundary_light);
  padding: 5px 10px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.input input{
  width: 100%;
  background-color: var(--mono_negro);
}

.input input:focus{
  outline: none;
}



.custom-select {
  position: relative;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 14px;
  padding: 6px 10px;
  background-color: var(--secundary_opacity);
  border: 2px solid var(--secundary_light);
  border-radius: 8px;
  color: var(--mono_blanco);
  cursor: pointer;
  outline: none;
}

.custom-select select:focus {
  background: var(--secundary_opacity);
  border: 2px solid var(--primary_essentials);
  border-radius: 8px;
}

.custom-select::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--mono_blanco);
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}